.full-page{
  background-color: black;
  color: white; 
  height: 90vh;
  width: 100%;
}

.answer-up-box {
  display:flex;
  margin:0% 5%
}

.answer-bottom-box{
  display:flex;
  margin:0% 5%
}


.box-question{
  font-weight: 100;
  font-size: 1.5em;
  margin-left:5%;
  margin-right:5%;
  padding-top:5%; 
  padding: 8% 2%;
}

.answer1-box{
  border: 1.5px solid white;
  padding-top:3%;
  padding-bottom:3%;
  font-weight: 100;
  font-size: 1.2em;
  border-right:none;
  background-color:black;  
  flex-grow: 1;
  width:3vh;
  color: white;
}

.answer2-box{
  border: 1.5px solid white;
  padding-top:3%;
  padding-bottom:3%;
  font-weight: 100;
  font-size: 1.2em;
  background-color:black;  
  flex-grow: 1;
  width:3vh;
  color: white;
}


/* .text-yourvoice {
  padding:10px;   
  border: 1px solid red;
} */



