  .full-page-black { 
    width: 100%;
    align-items: center;
    margin: 0;
    background-color: black;
    color: white;
  }


@media (max-width: 750px){
  .full-page-black {
    width: 100%;
    align-items: center;
    margin: 0 auto;
    background-color: black;
    color: white;
  }

  .legend-block2 {
    display: block;
    margin: auto;
    align-items: center;
    width:40%;
    margin-top:20%;
  }

  .legend2{
    margin: auto;
    align-items: center;
    width: 40%;
    margin-bottom:15%;
    display: block;
    position: absolute;
    bottom:5%;
    z-index: -1;
  }
}


