

.text {
  margin-top: 4%;
  font-weight: 100;
}

.next{
  margin-top:2%;  
  margin-left: 50%;
  width: 30%;  
}

.next-image{
  width:20%;
}

.btn-play{
  width: 70%;
  margin-top:3%;

}

.play-button{
  width: 12%;
}

.legend-block-black{
  display: block;
  margin: auto;
  align-items: center;
  width:15%;
  margin-top:10%;
}

.legend-block-white{
  margin: auto;
  width:100%;
  display:block;
  border:1px solid red;
  position: absolute;
  bottom:15%;
  z-index: 0;  
}


.legend-white {
  width: 30%;
  bottom:10%;
  z-index: 0;  
}

.legend-black {
  margin: auto;
  align-items: center;
  width: 15%;
  margin-bottom:6%;
  display: block;
  position: absolute;
  bottom:5%;
  z-index: -1;
}


@media  (min-width: 768px) {
  .text {
    padding-top: 35%;
    font-weight: 100;
    font-size:2em; 
  }
  .play-button{
    width:30%;
    margin-top:20%;
  }

  .next-image{
    width:55%;
    margin-top:5%;
  }

  .next{
    margin-top:15%;
  }

  .legend-block-black {
    display: block;
    margin: auto; 
    align-items: center;
    width:40%;
  }

  .legend-black{
    margin: auto;
    align-items: center;
    width: 40%;
    margin-bottom:15%;
    display: block;
    position: absolute;
    bottom:0%;
    z-index: -1;
  }

  .legend-block-white {
    display: block;
    margin: auto;
    align-items: center;
    width:40%;
    /* margin-top:20%; */
  }

  .legend-white{
    margin: auto;
    align-items: center;
    width: 40%;
    display: block;
    /* position: absolute;
    bottom:5%;
    z-index: -1; */
  }
}








