

.text {
  margin-top: 4%;
  font-weight: 100;
}

.next{
  margin-top:2%;  
  margin-left: 50%;
  width: 30%;  
}

.next-image{
  width:20%;
}

.btn-play{
  width: 70%;
  margin-top:3%;
}

.play-button{
  width: 12%;
}

.legend-block1{
  display: block;
  margin: auto;
  align-items: center;
  width:15%;
  margin-top:0%;
}

.legend-block2{
  display: block;
  margin: auto;
  align-items: center;
  width:15%;
  margin-top:10%;
}

.legend-block3{
  display: block;
  margin: auto;
  align-items: center;
  width:15%;
  margin-top:0%;
}

.legend-block4{
  display: block;
  margin: auto;
  align-items: center;
  width:15%;
  margin-top:0%;
}


.legend1 {
  margin: auto;
  align-items: center;
  width: 15%;
  margin-bottom:6%;
  display: block;
  position: absolute;
  bottom:5%;
  z-index: -1;
}

.legend2{
  margin: auto;
  align-items: center;
  width: 15%;
  margin-bottom:6%;
  display: block;
  position: absolute;
  bottom:5%;
  z-index: -1;
}


.legend3 {
  margin: auto;
  align-items: center;
  width: 15%;
  margin-bottom:6%;
  display: block;
  position: absolute;
  bottom:5%;
  z-index: -1;
}

.legend4 {
  margin: auto;
  align-items: center;
  width: 15%;
  margin-bottom:6%;
  display: block;
  position: absolute;
  bottom:5%;
  z-index: -1;
}


@media  (max-width: 750px) {
  .text {
    padding-top: 35%;
    font-weight: 100;
    font-size:2em; 
  }
  .play-button{
    width:30%;
    margin-top:20%;
  }

  .next-image{
    width:55%;
    margin-top:5%;
  }

  .next{
    margin-top:15%;
  }

  .legend-block {
    display: block;
    margin: auto;
    align-items: center;
    width:40%;
    margin-top:20%;
  }

  .legend{
    margin: auto;
    align-items: center;
    width: 40%;
    margin-bottom:15%;
    display: block;
    position: absolute;
    bottom:5%;
    z-index: -1;
  }
}








