.high {
  background-color: #060E9F;
  background-image: url("../../img/back_aguda.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center top;
}

.artist-footer{
  background-color: transparent;
}



.artist-navbar{
  margin-top: 30%;
}

@media (max-width: 768px) {
  .high {
    background-color: #060E9F;
    background-image: url("../../img/back_aguda.png");
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-position: center top;
  }
}