/* DESKTOP */

  .high {
    background-color: #060E9F;
    background-image: url("../../img/bird_tipo.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center top;
  }


/* MOBILE */

@media (min-width: 768px) {
  .high {
    background-color: #060E9F;
    background-image: url("../../img/bird_tipo@2x.png");
    width: 100vh;
    /* height: 100vh; */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center top; */
  }

  .artist-footer{
    background-color: transparent;
  }
}

.artist-navbar{
  margin-top: 30%;
}
